node_modules/
dist/
*.py[cod]
*.log
.env
# Package files
*.jar

# Maven
target/
dist/

#output
scripts/data/output/*

# Deployment
deployment.yaml

# JetBrains IDE
.idea/

.DS_Store
Thumbs.db

test_summaries
